Node-RED
[{"id":"e21ac01f.cccca","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"4015f551.6f4784","type":"tcp in","z":"e21ac01f.cccca","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"!","topic":"","base64":false,"x":210,"y":200,"wires":[["ee4fe370.d4ea7"]],"outputLabels":["1"]},{"id":"64df06d.cbe9278","type":"debug","z":"e21ac01f.cccca","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":200,"wires":[]},{"id":"34a4a6b5.1f8e3a","type":"http request","z":"e21ac01f.cccca","name":"","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Proximity_Alert/with/key/iFZUwfi8fnJWZTGHSNJ41HsJvSy5iQpDHR7SltWZv0e","tls":"","x":670,"y":200,"wires":[["64df06d.cbe9278","973a2965.18c5e8"]]},{"id":"ee4fe370.d4ea7","type":"function","z":"e21ac01f.cccca","name":"Message Format","func":"//Change the format on the message for an easier manipulation by IFTTT\nvar tmp = msg.payload.split(\"&\");\nmsg.payload = { \"value1\" : tmp[1] , \"value2\" : tmp[2]}; //value1=ID mote 1 and value2=ID mote 2 \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":200,"wires":[["75083f57.af052","34a4a6b5.1f8e3a","973a2965.18c5e8"]]},{"id":"75083f57.af052","type":"debug","z":"e21ac01f.cccca","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":300,"wires":[]},{"id":"973a2965.18c5e8","type":"file","z":"e21ac01f.cccca","name":"log_node_red.txt","filename":"/home/user/Desktop/ciao/IoTFinalProject/log_node_red.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","x":860,"y":280,"wires":[[]]}]
