Node-RED
[{"id":"37682309.d8250c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"147a6617.2ac90a","type":"tcp in","z":"37682309.d8250c","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"buffer","newline":"/n","topic":"","base64":false,"x":190,"y":220,"wires":[["b6e14156.8f60f"]]},{"id":"b517dc86.c63578","type":"debug","z":"37682309.d8250c","name":"Debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":220,"wires":[]},{"id":"62ca2d72.23554c","type":"http request","z":"37682309.d8250c","name":"","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Proximity_Alert/with/key/iFZUwfi8fnJWZTGHSNJ41HsJvSy5iQpDHR7SltWZv0e","tls":"","x":750,"y":220,"wires":[["b517dc86.c63578"]]},{"id":"b6e14156.8f60f","type":"function","z":"37682309.d8250c","name":"Message Format","func":"//Change the format on the message for an easier manipulation by IFTTT\nmsg.payload = { \"value1\" : msg.payload[0] }; //value1=ID mote 1 and value2=ID mote 2 \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["62ca2d72.23554c"]]}]
