Node-RED
[{"id":"37682309.d8250c","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"147a6617.2ac90a","type":"tcp in","z":"37682309.d8250c","name":"","server":"client","host":"localhost","port":"60001","datamode":"stream","datatype":"utf8","newline":"$","topic":"","base64":false,"x":190,"y":220,"wires":[["b6e14156.8f60f"]],"outputLabels":["1"]},{"id":"b517dc86.c63578","type":"debug","z":"37682309.d8250c","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":970,"y":220,"wires":[]},{"id":"62ca2d72.23554c","type":"http request","z":"37682309.d8250c","name":"","method":"POST","ret":"txt","url":"https://maker.ifttt.com/trigger/Proximity_Alert/with/key/iFZUwfi8fnJWZTGHSNJ41HsJvSy5iQpDHR7SltWZv0e","tls":"","x":750,"y":220,"wires":[["b517dc86.c63578"]]},{"id":"b6e14156.8f60f","type":"function","z":"37682309.d8250c","name":"Message Format","func":"//Change the format on the message for an easier manipulation by IFTTT\nvar tmp = msg.payload.split(\"&\");\nmsg.payload = { \"value1\" : tmp[1] , \"value2\" : tmp[2]}; //value1=ID mote 1 and value2=ID mote 2 \nreturn msg;","outputs":1,"noerr":0,"x":480,"y":220,"wires":[["370c5486.b1bd14","62ca2d72.23554c"]]},{"id":"370c5486.b1bd14","type":"debug","z":"37682309.d8250c","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":280,"wires":[]}]
